html {
    background-color: rgba(215, 213, 213, 0.88);
}

.info {
    background-color: rgba(214, 214, 214, 0);
    padding: 0;
}

.blog1 > p  {
    font-size: 1.1em;
    text-align: justify;
    line-height: 1.7em;
}

.blog2 > p  {
    font-size: 1.1em;
    text-align: justify;
    line-height: 1.7em;
}

a > p  {
    font-size: 1.1em;
    text-align: justify;
    line-height: 1.7em;
}

h6 {
    font-size: 1.1em;
    line-height: 1.7em;
    text-align: justify;
}

.blog1 h2 {
    font-size: 1.6em;
    text-align: justify;
}

.blog2 h2 {
    font-size: 1.6em;
    text-align: justify;
}

a {
    text-decoration: none;
    color: black;
}

.blog1 {
    background-color: white;
    padding: 20px;
    margin-bottom: 10px;
}

.blog2 {
    background-color: white;
    padding: 20px;
    margin-bottom: 0;
}

.blog1 img {
    width: 100%;
    margin: 4px 0;
}

.blog2 img {
    width: 100%;
    margin: 4px 0;
}